<!DOCTYPE html>
<html>

	<head>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>

	<body>
		<!-- As a heading -->
		<header class="navbar navbar-expand flex-column flex-md-row">
			<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
				<img src="/img/spider.png" width="30" height="30" class="d-inline-block align-top" alt=""> <title>Surveill' Home</title></img>
			</a>
			<div style="font-size:25px">
					<span style="color:red; font-size: 30px">S</span>urveill'
					<span style="color:red; font-size: 30px">H</span>ome
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
				</ul>

				<div class="navbar navbar-right">
						<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#modalConnect"> Connection </button>
				</div>
			</div>
		</header>

		<div id="map"></div>

		<!-- Modal -->
		<div class="modal fade" id="modalConnect" tabindex="-1" role="dialog" aria-labelledby="modalConnect" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Connection to your Account</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div><!--modalHeaderEnd -->
						<div class="modal-body">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
							</div>
							<br>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text">
											<img style="height:16px; width: 16px;" src="img/lock.png"></img>
									</span>
								</div>
								<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
							</div>
						</div><!--modalBodyEnd -->

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Try connect</button>
						</div><!--modalFooterEnd -->
					</div><!--modalContentEnd -->
				</div><!--modalDialogEnd -->
			</div><!--modalEnd -->

	</body>

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</html>