<!DOCTYPE html>
<html>

	<head>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>

	<body>
		<!-- As a heading -->
		<header class="navbar navbar-expand flex-column flex-md-row">
			<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
				<img src="/img/spider.png" width="30" height="30" class="d-inline-block align-top" alt=""> <title>Surveill' Home</title></img>
			</a>
			<div style="font-size:25px">
					<span style="color:red; font-size: 30px">S</span>urveill'
					<span style="color:red; font-size: 30px">H</span>ome
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="navbar-nav mr-auto">
					<!-- <li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li> -->
				</ul>
				<div class="navbar navbar-right">
					<form action="/" method="GET">
						<button type="submit" class="btn btn-danger btn-lg" > Disconnect </button>
					</form>
				</div>
			</div>
		</header>

		<div>Connected to Kdrupede 78:34:43:E2:4R, Batterie Left : 77%, Time left : 17 min 34 sec</div>

		<div class="container" style="margin:0%;max-width:100%;">
			<div class="row">
				<div class="col-6" style="padding: 2%">
					<div style="background-color:grey; height: 600px; width: 800px;">KdruCam</div>
				</div>
				<div class="row align-self-center">
					<div class="col-4">
						<button type="button" class="btn btn-primary btn-lg">
							<img src="img/chevronTopLeft.png" width="50" />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-warning btn-lg">
							<img src="img/chevronLeft.png" width="50" data-rotate=180 />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-primary btn-lg">
							<img src="img/chevronBotLeft.png" width="50" />
						</button>
					</div>
					<div class="col-4">
						<button type="button" class="btn btn-warning btn-lg">
							<img src="img/chevronTop.png" width="50" />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-primary btn-lg">
								<img src="img/round.png" width="50" />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-warning btn-lg">
							<img src="img/chevronBot.png" width="50" />
						</button>
					</div>
					<div class="col-4">
						<button type="button" class="btn btn-primary btn-lg">
							<img src="img/chevronTopRight.png" width="50" />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-warning btn-lg">
							<img src="img/chevronRight.png" width="50" />
						</button>
						<br>
						<br>
						<button type="button" class="btn btn-primary btn-lg">
								<img src="img/chevronBotRight.png" width="50" />
						</button>
					</div>
				</div>
				<div class="col-3 align-self-center">
					<center>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="1">FLATOUT		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="2">STAND_UP		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="3">SLEEP			</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="4">STAND			</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="5">FORWARD		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="6">RIGHT TURN	</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="7">LEFT TURN		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="8">BACKWARD		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="9">LAYDOWN		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="10">GYM			</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="11">WINK			</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="12">SWEEP		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="13">GETMODE		</button> <br>
						<button style="margin-top: 10px;" type="button" class="btn btn-success" value="14">ZEROSERVO	</button> <br>
					</center>
				</div>
			</div>
		</div>
		<!-- <div id="map" style="background-color: black">a</div> -->
	</body>

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</html>