<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Kdruped APP</title>
	<meta name="description" content="Projet IOT 2018-2019 : Quadrupede de surveillance">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>

	<div id="accueil-main">
		<span style="font-size:25px">
			<span style="color:red; font-size: 48px">S</span>urveill'
			<span style="color:red; font-size: 48px">H</span>ome
		</span>
	</div>
	<div id="menu">
		<ul>
	  		<li><a href="./page1.html">Home</a></li>
	  		<li><a href="./page2.html">Start & watch</a></li>
	  		<li><a href="./page3.html">Storrage</a></li>
	  		<li><a href="./page4.html">Contact</a></li>
	  		<li style="float:right"><a class="active" href="./page5.html">About</a></li>
		</ul>
	</div>

	<button class="w3-button w3-large w3-circle w3-white w3-card-4">+</button>

</body>
</html>