
<!-- Modal -->
<div class="modal fade" id="modalConnect" tabindex="-1" role="dialog" aria-labelledby="modalConnect" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Connection to your Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!--modalHeaderEnd -->

            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                            <span class="input-group-text">
                                <img style="height:16px; width: 16px;" src="img/lock.png"></img>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div><!--modalBodyEnd -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Try connect</button>
            </div><!--modalFooterEnd -->
        </div><!--modalContentEnd -->
    </div><!--modalDialogEnd -->
</div><!--modalEnd -->
